# infrastructure-simulator

![Infrastructure Simulator](simulator.gif "Simulator")

You can send command via REST interface. See below


## Installation

```
pip install git+https://github.com/dfriedenberger/infrastructure-simulator
```
or
```
pip install -e .
```
## Usage 

see server.py

## Test
```
pip install fastapi hypercorn
python server.py
```

### Send Commands

```
curl --request POST --header "Content-Type: application/json" --data '{"id":"<item-id>","cmd":"<command>"}' http://localhost:8080/control/<board-name>
```


### Examples

{{#examples}}
#### {{title}}

<table>
{{#items}}
    <tr>
        <td>{{name}} </td>
        <td><img src="{{image}}" style="max-height: 100px"></td>
        <td><a href="{{details}}">Details</a></td>
    </tr>
{{/items}}
</table>

{{/examples}}

